.my-messages-content{
    width: fit-content;
    max-width: 50%;
    position: relative;
    margin: 4px 0;
    display: flex;
    right: 10px;
    margin-left: auto;
    .messange {
        height: fit-content;
        margin: auto 0;
        padding: 10px 15px;
        border-radius: 30px;
        background-color: #efefef;
        font-size: 14px;
    }
}