.messages-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 0;
    &__header {
        height: 53px;
        display: flex;
        border-bottom: 1px solid #dbdbdb;
        position: relative;
        .name {
            margin: auto 0;
        }
        .icon {
            font-size: 25px;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__messanges {
        height: 515px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}
.avatar {
    display: flex;
    padding: 0 20px;
    img {
        margin: auto;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}
