.friend-messages-content {
    width: 100%;
    min-height: 40px;
    display: flex;
    margin: 5px 0;
    .avatar {
        display: flex;
        padding: 0 10px 0 20px;
        img {
            margin: auto;
            height: 30px;
            border-radius: 50%;
        }
    }
    .messange {
        height: fit-content;
        max-width: 50%;
        margin: auto 0;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid #dbdbdb;
        font-size: 14px;
    }
}
