.friend-messages-content {
    width: fit-content;
    max-width: 50%;
    position: relative;
    margin: 5px 0;
    display: flex;
    .avatar {
        display: flex;
        padding: 0 10px 0 20px;
        img {
            margin: auto;
            height: 30px;
            border-radius: 50%;
        }
    }
    .messange {
        height: fit-content;
        margin: auto 0;
        padding: 10px 15px;
        border-radius: 30px;
        background-color: #efefef;
        font-size: 14px;
    }
}
